*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    background-color: rgba(221, 131, 6, 0.381);
    background-size: cover;
    background-position: center;
}

.header img{
    width: 250px;
}

.header{
    text-align: left;
    position: fixed;
    display: flex;
}

.header div{
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 224, 213);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.information {
    background-color: bisque;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 150px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.information table{
    border: 1px solid black;
}

.information td{
    border: 2px solid rgba(0, 0, 0, 0.299);
    padding: 10px 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.information tr td:first-child{
    background-color: rgb(249, 230, 162);
}


.body{
    height: 400px;
    width: 1300px;
    background-color: antiquewhite;
    float: right;
    margin-top: 100px;
}