*{
    margin: 0px;
    padding: 0px;
}


.nav{
    width: 40vw;
    height: 20vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.nav-logo{
    background-color: rgba(0, 0, 0, 0.207);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.nav-logo img{
    width: 40%;
}

.sign-out-btn{
    margin-right: 30px;
    margin-top: 20px;
}
.sign-out-btn a{
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.201);
    color: black;
}

.footer{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p:first-child{
    margin-bottom: 10px;
}

.body{
    height: 446px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-content a{
    text-decoration: none;
    color: black;   
}

