
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content{
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
}

.login-title{
    color: white;
    background-color: orange;
    font-size: 30px;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.body-content img{
    width: 60%;
    padding: 10px 0px;
}

.body-content form input{
    width: 80%;
    margin: 0px 0px 20px;
    padding: 15px;
    border: 0;
    background-color: rgba(128, 128, 128, 0.226);
    border-radius: 3px;
}

.body-content form button{
    width: 350px;
    color: white;
    background-color: orange;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    padding: 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
}