
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-content{
    background-color: white;
    width: 400px;
    height: 400px;
}