<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DemoSession01</servlet-name>
        <servlet-class>controller.DemoSession01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoSession02</servlet-name>
        <servlet-class>controller.DemoSession02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoSession03</servlet-name>
        <servlet-class>controller.DemoSession03</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoCookie01</servlet-name>
        <servlet-class>controller.DemoCookie01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoCookie02</servlet-name>
        <servlet-class>controller.DemoCookie02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDB01</servlet-name>
        <servlet-class>LoadDB01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoSession01</servlet-name>
        <url-pattern>/DemoSession01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoSession02</servlet-name>
        <url-pattern>/DemoSession02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoSession03</servlet-name>
        <url-pattern>/DemoSession03</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoCookie01</servlet-name>
        <url-pattern>/DemoCookie01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoCookie02</servlet-name>
        <url-pattern>/DemoCookie02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDB01</servlet-name>
        <url-pattern>/LoadDB01</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
